<div class="container-fluid">
    <h1 class="text-center text-dark mt-2">Registration Form</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="bg-dark">
          <form #ref="ngForm" (ngSubmit)="submitRegisterData(ref.value)">
                
        <div class="form-group row">
            <div class="col-md-4  mt-2 text-white">
                <label for="f">First Name:</label>
            </div>
            <div class="col-md-8 mt-2">
                <input type="text" id="f" #regname="ngModel" required minlength="5" name="firstname" class="form-control" ngModel>
         
            <div *ngIf="regname.invalid&&(regname.dirty||regname.touched)" class="alert text-danger">
                <div *ngIf="regname.errors.required">
                    <p>*Name is required</p>
                </div>
                <div *ngIf="regname.errors.minlength">
                    <p>Name must be atleast 4 characters long</p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4  mt-2 text-white">
            <label for="m">Middle Name:</label>
        </div>
        <div class="col-md-8 mt-2">
            <input type="text" id="m"  name="middlename" class="form-control" ngModel>
<!--      
        <div *ngIf="regname.invalid&&(regname.dirty||regname.touched)" class="alert text-danger">
            <div *ngIf="regname.errors.required">
                <p>*MName is required</p>
            </div>
            <div *ngIf="regname.errors.minlength">
                <p>Name must be atleast 4 characters long</p>
            </div>
        </div> -->
    </div>
</div>
<div class="form-group row">
    <div class="col-md-4  mt-2 text-white">
        <label for="l">Last Name:</label>
    </div>
    <div class="col-md-8 mt-2">
        <input type="text" id="l" #reglastname="ngModel" required minlength="5" name="lastname" class="form-control" ngModel>
 
    <div *ngIf="reglastname.invalid&&(reglastname.dirty||reglastname.touched)" class="alert text-danger">
        <div *ngIf="reglastname.errors.required">
            <p>*Last Name is required</p>
        </div>
        <div *ngIf="reglastname.errors.minlength">
            <p>Name must be atleast 4 characters long</p>
        </div>
    </div>
</div>
</div>

<div class=" form-group row">
    <div class="col-md-4  mt-3 text-white">
           <label for="e">Email-Id:</label>
    </div>
    <div class="col-md-8 mt-3">
        <!-- <input type="email" id="d" name="emailid" class="form-control" ngModel > -->
        <input type="email" #regemail="ngModel" required minlength="5" id="e" name="emailid" class="form-control" ngModel>
        <div *ngIf="regemail.invalid&&(regemail.dirty||regemail.touched)" class="alert text-danger">
            <div *ngIf="regemail.errors.required">
                <p> *Email is required</p>
            </div>
           
        </div>
    </div>
 </div>
 <div class=" form-group row">
      <div class="col-md-4  mt-3 text-white">
             <label for="mb">Mobile Number:</label>
      </div>
      <div class="col-md-8 mt-3">
        
          <input type="number" id="mb" name="number" class="form-control" ngModel>
          <!-- <div *ngIf="regnumber.invalid&&(regnumber.dirty||regnumber.touched)" class="alert text-danger">
              <div *ngIf="regnumber.errors.required">
                  <p> *Mobile Number is required</p>
                  <p>Max 10 characters 0-9</p>
              </div>
             
          </div> -->
      </div>
   </div>


        <div class="form-group row">
          <div class="col-md-4  mt-2 text-white">
              <label for="n">Password:</label>
          </div>
          <div class="col-md-8 mt-2">
             
            <input type="password" #regpswd="ngModel" required minlength="5" id="n" name="password" class="form-control" ngModel>
            <div *ngIf="regpswd.invalid&&(regpswd.dirty||regpswd.touched)" class="alert text-danger">
                <div *ngIf="regpswd.errors.required">
                    <p> *Password is required</p>
                </div>
                <div *ngIf="regpswd.errors.minlength">
                    <p>Password must be atleast 6 characters long</p>
                </div>
            </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-4  mt-2 text-white">
            <label for="cp">Confirm Password:</label>
        </div>
        <div class="col-md-8 mt-2">
           
          <input type="password" #regcpswd="ngModel" required minlength="5" id="cp" name="confirmpassword" class="form-control" ngModel>
          <div *ngIf="regcpswd.invalid&&(regcpswd.dirty||regcpswd.touched)" class="alert text-danger">
              <div *ngIf="regcpswd.errors.required">
                  <p> *Confirm Password is required</p>
              </div>
              <div *ngIf="regcpswd.errors.minlength">
                  <p>Password must be atleast 6 characters long</p>
              </div>
          </div>
      </div>
    </div>
      
    <div class="text-center mt-3">
                       <button class="btn btn-success text-white" type="submit" >Register</button>
                   </div>
    </form>
</div>

</div>
<div class="col-md-3"></div>
</div>
</div>

