<div *ngIf="b">
    <h1 class="mt-3 text-center">Edit the form</h1>
    <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)">
        <div class="form-group row">
                <div class="col-md-4 mt-3 text-right ">
            <label>Change firstname</label>
            </div>
            <div class="col-md-4 mt-3 ">
            <input type="text" [value]="objecttoModify.firstname" class="form-control" name="firstname" [(ngModel)]=objectToModify.firstname>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 mt-3 text-right ">
    <label>Change Middlename</label>
    </div>
    <div class="col-md-4 mt-3 ">
    <input type="text" value="objecttoModify.middlename" name="middlename" class="form-control" [(ngModel)]=objectToModify.middlename>
</div>
</div>
<div class="form-group row">
    <div class="col-md-4 mt-3 text-right ">
<label>Change Lastname</label>
</div>
<div class="col-md-4 mt-3 ">
<input type="text" [value]="objecttoModify.lastname" class="form-control" name="lastname" [(ngModel)]=objectToModify.lastname>
</div>
</div>


        <div class="form-group row">
                <div class="col-md-4 mt-3 text-right ">
            <label>Change Email-Id</label>
            </div>
            <div class="col-md-4 mt-3  ">
            <input type="text" [value]="objecttoModify.emailid" class="form-control" name="emailid" [(ngModel)]=objectToModify.emailid>
            </div>
        </div>
        <div class="form-group row">
                <div class="col-md-4 mt-3 text-right">
            <label>Change mobile number</label>
            </div>
            <div class="col-md-4 mt-3  ">
            <input type="text" [value]="objecttoModify.number" class="form-control" name="number" [(ngModel)]=objectToModify.number>
            </div>
        </div>
        <div class="text-center">
        <button class="btn btn-primary text-center" type="submit">save</button>
    </div>
    </form>
</div>





<div class="row">

<div class="col-md-2"></div>
<div class="col-md-8">
<table class="table">
    <thead>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last name</th>
        <th>Mobile Number</th>
        <th>Email-Id</th>
        
    </thead>
    <tr *ngFor="let data of list">
        <td>{{data.firstname}}</td>
        <td>{{data.middlename}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.number}}</td>
        <td>{{data.emailid}}</td>

        <!-- <tr class="text-center">
            <button class="btn btn-success" (click)="editProfile(o)">Edit</button>
        </tr> -->
        <td>
            <button class="btn btn-success ml-3" (click)="editProfile(data)">Edit</button>
        </td>
        <td>
                <button class="btn btn-danger ml-3" (click)="deleteData(data.emailid)">Delete</button>
            </td>
    </tr>
</table>
</div>
<div class="col-md-2"></div>
</div>


