<div class="container-fluid">
    <h1 class="text-center text-dark mt-2">Login Form </h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="bg-dark">
                    <form #ref="ngForm"  (ngSubmit)="submitLoginData(ref.value)">
        <div class="form-group row">           
             <div class="col-md-4 mt-3  text-white">
                <label for="m">Email-Id:</label>
            </div>
            <div class="col-md-8 mt-3">
                <!-- <input type="text" id="m" name="name" class="form-control" ngModel> -->
                <input type="email" id="m" #regemailid="ngModel" required minlength="5" name="emailid" class="form-control" ngModel>
         
                <div *ngIf="regemailid.invalid&&(regemailid.dirty||regemailid.touched)" class="alert text-danger">
                    <div *ngIf="regname.errors.required">
                        <p>*Password is required</p>
                    </div>
                    <div *ngIf="regemailid.errors.minlength">
                        <p>Password must be atleast 4 characters long</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 mt-3 text-white">
                <label for="n">Password:</label>
            </div>
            <div class="col-md-8 mt-3">
                <!-- <input type="password" id="n" name="password" class="form-control" ngModel> -->
                <input type="password" #regpswd="ngModel" required minlength="5" id="n" name="password" class="form-control" ngModel>
                <div *ngIf="regpswd.invalid&&(regpswd.dirty||regpswd.touched)" class="alert text-danger">
                    <div *ngIf="regpswd.errors.required">
                        <p> *Password is required</p>
                    </div>
                    <div *ngIf="regpswd.errors.minlength">
                        <p>Password must be atleast 6 characters long</p>
                    </div>
                </div>
            </div>
        </div>


      

     





        <div class="text-center mt-2">
            <button class="btn btn-success" type="submit"  >Login</button>
        </div>
       
    </form>
</div>

</div>
<div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3">
        
    </div>
     <div class="col-md-6 mt-3 text-center ">
        <a class=" text-center" routerLink="/register">click here to register</a>
        
</div>




<router-outlet></router-outlet>
<div class="col-md-3"></div>


</div>


